<div *ngIf="data" align="center">
    <audio controls>
        <source [src]="data | safe" [type]="type">
    </audio>
</div>
<br>
<div align="center">
    <a [href]="data | safe" target="_blank" class="app-link">
        <md-icon class="md-36" md-tooltip="Listen" tooltip-position="before">volume_down</md-icon>
    </a>
    <a [download]="name" [href]="data | safe" class="app-link">
        <md-icon color="accent" class="md-36" md-tooltip="Download" tooltip-position="after">file_download</md-icon>
    </a>
</div>
