<md-card>
    <md-card-title>{{name}}</md-card-title>
    <md-card-subtitle></md-card-subtitle>
    <md-card-content>

<span [ngSwitch]="type">
    <span *ngSwitchCase="'application/pdf'">
        <div align="center">
            <md-icon class="md-36" md-tooltip="Previous page" tooltip-position="above" (click)="prevPage()">fast_rewind</md-icon>
            <input
                type="number" placeholder="Page"
                [(ngModel)]="page"
                min="1" max="1000" maxlength="4"
            >
            <md-icon class="md-36" md-tooltip="Next page" tooltip-position="after" (click)="nextPage()">fast_forward</md-icon>
        </div>

        <div *ngIf="clearUrl" align="center">
            <pdf-viewer [src]="clearUrl"
                        [page]="page"
                        [original-size]="true"
                        [zoom]="1.5"
                        [render-text]="false"
                        style="display: block; z-index: 1"
            ></pdf-viewer>
        </div>
        <div align="center">
            <md-icon class="md-36" md-tooltip="Previous page" tooltip-position="above" (click)="prevPage()">fast_rewind</md-icon>
            <input
                type="number" placeholder="Page"
                [(ngModel)]="page"
                min="1" max="1000" maxlength="4"
            >
            <md-icon class="md-36" md-tooltip="Next page" tooltip-position="after" (click)="nextPage()">fast_forward</md-icon>
        </div>
        <BR>
        <div align="center">
        <a [href]="clearUrl | safe" target="_blank" class="app-link">
        <md-icon class="md-36" md-tooltip="Open in new window" tooltip-position="below">visibility</md-icon></a>
        <a [download]="name" [href]="clearUrl | safe" class="app-link">
        <md-icon color="accent" class="md-36" md-tooltip="Download" tooltip-position="after">file_download</md-icon></a>
        </div>
      </span>

    <span *ngSwitchCase="'image/gif'">
        <div *ngIf="clearUrl" align="center">
        <a [href]="clearUrl | safe" target="_blank" class="app-link">
            <img [src]='clearUrl | safe' [width]='400'>
            </a>
        </div>
        <br>
        <div align="center">
        <a [href]="clearUrl | safe" target="_blank" class="app-link">
        <md-icon class="md-36" md-tooltip="Full size" tooltip-position="below">visibility</md-icon>
        </a>
        <a [download]="name" [href]="clearUrl | safe" class="app-link">
        <md-icon color="accent" class="md-36" md-tooltip="Download" tooltip-position="after">file_download</md-icon>
        </a>
        </div>
    </span>
    <span *ngSwitchCase="'image/jpeg'">
        <div *ngIf="clearUrl" align="center">
            <a [href]="clearUrl | safe" target="_blank" class="app-link">
            <img [src]='clearUrl | safe' [width]='400' md-tooltip="Click for full size" tooltip-position="after"></a>
        </div>
        <br>
        <div align="center">
        <a [href]="clearUrl | safe" target="_blank" class="app-link">
        <md-icon class="md-36" md-tooltip="Full size" tooltip-position="below">visibility</md-icon></a>
        <a [download]="name" [href]="clearUrl | safe" class="app-link">
        <md-icon color="accent" class="md-36" md-tooltip="Download" tooltip-position="after">file_download</md-icon></a>
        </div>
    </span>
    <span *ngSwitchCase="'image/pjpeg'">
        <div *ngIf="clearUrl">
          <a [href]="clearUrl | safe" target="_blank" class="app-link">
            <img [src]='clearUrl | safe' [width]='400'>
          </a>
        </div>
        <br>
        <div align="center">
        <a [href]="clearUrl | safe" target="_blank" class="app-link">
        <md-icon class="md-36" md-tooltip="Full size" tooltip-position="below">visibility</md-icon></a>
        <a [download]="name" [href]="clearUrl | safe" class="app-link">
        <md-icon color="accent" class="md-36" md-tooltip="Download" tooltip-position="after">file_download</md-icon></a>
        </div>
    </span>
    <span *ngSwitchCase="'image/png'">
        <div *ngIf="clearUrl">
        <a [href]="clearUrl | safe" target="_blank" class="app-link">
            <img [src]='clearUrl | safe' [width]='400'>
        </a>
        </div>
        <br>
        <div align="center">
        <a [href]="clearUrl | safe" target="_blank" class="app-link">
        <md-icon class="md-36" md-tooltip="Full size" tooltip-position="below">visibility</md-icon></a>
        <a [download]="name" [href]="clearUrl | safe" class="app-link">
        <md-icon color="accent" class="md-36" md-tooltip="Download" tooltip-position="after">file_download</md-icon></a>
        </div>
    </span>
    <span *ngSwitchCase="'video/mpeg'">
        <div *ngIf="clearUrl" align="center">
            <video controls>
                <source [src]='clearUrl | safe' [type]='type'>
            </video>
        </div>
        <br>
        <div align="center">
        <a [href]="clearUrl" target="_blank" class="app-link">
        <md-icon class="md-36" md-tooltip="View" tooltip-position="below">visibility</md-icon></a>
        <a [download]="name" [href]="clearUrl | safe" class="app-link">
        <md-icon color="accent" class="md-36" md-tooltip="Download" tooltip-position="after">file_download</md-icon></a>
        </div>
    </span>
     <span *ngSwitchCase="'video/ogg'">
        <div *ngIf="clearUrl">
            <video controls>
                <source [src]='clearUrl | safe' [type]='type'>
            </video>
        </div>
        <br>
        <div align="center">
        <a [href]="clearUrl | safe" target="_blank" class="app-link">
        <md-icon class="md-36" md-tooltip="View" tooltip-position="below">visibility</md-icon></a>
        <a [download]="name" [href]="clearUrl | safe" class="app-link">
        <md-icon color="accent" class="md-36" md-tooltip="Download" tooltip-position="after">file_download</md-icon></a>
        </div>
    </span>
     <span *ngSwitchCase="'video/mp4'">
        <div *ngIf="clearUrl" align="center">
            <video controls>
                <source [src]='clearUrl | safe' [type]='type'>
            </video>
        </div>
        <br>
        <div align="center">
        <a [href]="clearUrl | safe" target="_blank" class="app-link">
        <md-icon class="md-36" md-tooltip="View" tooltip-position="below">visibility</md-icon></a>
        <a [download]="name" [href]="clearUrl | safe" class="app-link">
        <md-icon color="accent" class="md-36" md-tooltip="Download" tooltip-position="after">file_download</md-icon></a>
        </div>
    </span>
    <span *ngSwitchCase="'video/webm'">
        <div *ngIf="clearUrl" align="center">
            <video controls>
                <source [src]='clearUrl | safe' [type]='type'>
            </video>
        </div>
        <br>
        <a [href]="clearUrl | safe" target="_blank" class="app-link">
        <md-icon class="md-36" md-tooltip="View" tooltip-position="below">visibility</md-icon></a>
        <a [download]="name" [href]="clearUrl | safe" class="app-link">
        <md-icon color="accent" class="md-36" md-tooltip="Download" tooltip-position="after">file_download</md-icon></a>
    </span>
    <span *ngSwitchCase="'audio/mp3'">
        <div *ngIf="clearUrl" align="center">
            <audio controls>
                <source [src]="clearUrl | safe" [type]="type">
            </audio>
        </div>
        <br>
        <div align="center">
       <a [href]="clearUrl | safe" target="_blank" class="app-link">
        <md-icon class="md-36" md-tooltip="Listen" tooltip-position="below">volume_down</md-icon></a>
        <a [download]="name" [href]="clearUrl | safe" class="app-link">
        <md-icon color="accent" class="md-36" md-tooltip="Download" tooltip-position="after">file_download</md-icon></a>
        </div>
    </span>
    <span *ngSwitchCase="'audio/wav'">
        <div *ngIf="clearUrl" align="center">
            <audio controls>
                <source [src]="clearUrl | safe" [type]="type">
            </audio>
        </div>
        <br>
        <div align="center">
        <a [href]="clearUrl | safe" target="_blank" class="app-link">
        <md-icon class="md-36" md-tooltip="Listen" tooltip-position="below">volume_down</md-icon></a>
        <a [download]="name" [href]="clearUrl | safe" class="app-link">
        <md-icon color="accent" class="md-36" md-tooltip="Download" tooltip-position="after">file_download</md-icon></a>
        </div>
    </span>
    <span *ngSwitchCase="'audio/ogg'">
        <div *ngIf="clearUrl" align="center">
            <audio controls>
                <source [src]='clearUrl | safe' [type]="type">
            </audio>
        </div>
        <br>
        <div align="center">
        <a [href]="clearUrl | safe" target="_blank" class="app-link">
        <md-icon class="md-36" md-tooltip="Listen" tooltip-position="below">volume_down</md-icon></a>
        <a [download]="name" [href]="clearUrl | safe" class="app-link">
        <md-icon color="accent" class="md-36" md-tooltip="Download" tooltip-position="after">file_download</md-icon></a>
        </div>
    </span>
    <span *ngSwitchCase="'text/plain'">
        <div class="app-view-content">
            <pre class="app-pre-break">
            {{data}}
            </pre>
        </div>
        <div class="app-search-view-files">
            <md-list class="md-dense" flex>
            <md-toolbar layout="row" class="md-hue-3">
             <div class="md-toolbar-tools">
                <span><md-icon>folder_open</md-icon> Files</span>
              </div>
            </md-toolbar>
            <md-list-item *ngFor="let item of files" class="md-1-line" (click)="viewFile(item)">
              <md-icon>{{item.icon}}</md-icon>
              <p>{{item.name}}</p>
            </md-list-item>
            </md-list>
        </div>
    </span>
    <span *ngSwitchCase="'text/html'">
        <div *ngIf="clearUrl" align="center">
            <iframe [src]="clearUrl | safe" width="800" height="1000">
            </iframe>
        </div>
        <br>
        <div align="center">
        <a [href]="clearUrl | safe" target="_blank" class="app-link">
        <md-icon class="md-36" md-tooltip="Listen" tooltip-position="below">volume_down</md-icon></a>
        <a [download]="name" [href]="clearUrl | safe" class="app-link">
        <md-icon color="accent" class="md-36" md-tooltip="Download" tooltip-position="after">file_download</md-icon></a>
        </div>
        <div class="app-search-view-files">
            <div *ngFor="let item of files">
            <md-icon class="md-10" (click)="viewFile(item)">{{item.icon}}</md-icon>
                <b><span (click)="viewFile(item)">{{item.name}}</span></b>;&nbsp;
            </div>
        </div>
    </span>
    <span *ngSwitchCase="'text/xml'">
        <div class="app-view-content">
            <pre class="app-pre-break">
            {{data}}
            </pre>
        </div>
        <div class="app-search-view-files">
            <md-list class="md-dense" flex>
            <md-toolbar layout="row" class="md-hue-3">
             <div class="md-toolbar-tools">
                <span><md-icon>folder_open</md-icon> Files</span>
              </div>
            </md-toolbar>
            <md-list-item *ngFor="let item of files" class="md-1-line" (click)="viewFile(item)">
              <md-icon>{{item.icon}}</md-icon>
              <p>{{item.name}}</p>
            </md-list-item>
            </md-list>
        </div>
    </span>
    <span *ngSwitchDefault>
    <div align="center">
        <a [href]="clearUrl | safe" target="_blank" class="app-link">
        <md-icon class="md-36" md-tooltip="Open" tooltip-position="below">visibility</md-icon></a>
        <a [download]="name" [href]="clearUrl | safe" class="app-link">
        <md-icon color="accent" class="md-36" md-tooltip="Download" tooltip-position="after">file_download</md-icon></a>
      </div>
    </span>
</span>
</md-card-content>
<md-card-footer>
   <a href="#top"><md-icon class="md-24">arrow_upward</md-icon></a>
 </md-card-footer>
</md-card>
