<md-card>
  <md-card-header>
      <md-card-title>Name: {{name}}</md-card-title>
      <md-card-subtitle>Record index: {{index}}</md-card-subtitle>
   </md-card-header>
    <md-card-content>

<span [ngSwitch]="type">
    <span *ngSwitchCase="'application/pdf'">
        <div>
            <label>PDF src</label>
            <input type="text" placeholder="PDF src" [(ngModel)]="pdfSrc">
        </div>
        <div>
            <label>Page:</label>
            <input type="number" placeholder="Page" [(ngModel)]="page">
        </div>
        <pdf-viewer [src]="'/pdf.pdf'"
                    [page]="page"
                    [original-size]="true"
                    style="display: block;"
        ></pdf-viewer>
        <a [download]="name" [href]="dataUrl"><md-icon class="md-24">file_download</md-icon> Download {{name}}</a>
    </span>
    <span *ngSwitchCase="'image/gif' || 'image/jpeg' || 'image/pjpeg' || 'image/png'">
        File Name: {{name}}<br>
        File Index: {{index}}<br>
        <img src="{{dataUrl}}">
        <a [download]="name" [href]="dataUrl"><md-icon class="md-24">file_download</md-icon> Download {{name}}</a>
    </span>
    <span *ngSwitchCase="'video/mpeg'">
        File Name: {{name}}<br>
        File Index: {{index}}<br>
        <video controls>
            <source [src]="dataUrl" [type]="type">
        </video>
        <a [download]="name" [href]="dataUrl"><md-icon class="md-24">file_download</md-icon> Download {{name}}</a>
    </span>
    <span *ngSwitchCase="'audio/mpeg3' || 'audio/x-mpeg3' || 'audio/ogg'">
        File Name: {{name}}<br>
        File Index: {{index}}<br>
        <audio controls>
            <source [src]="dataUrl" [type]="type">
        </audio>
        <a [download]="name" [href]="dataUrl"><md-icon class="md-24">file_download</md-icon> Download {{name}}</a>
    </span>
    <span *ngSwitchCase="'text/plain'">
        <div class="app-view-content">
            <pre class="app-pre-break">
            {{data}}
            </pre>
        </div>
        <div class="app-search-view-files">
            <div *ngFor="let item of files">
            <b><span (click)="viewFile(item)"><md-icon class="md-10" (click)="viewFile(item)">attachment</md-icon>&nbsp;{{item.name}}</span></b>
            </div>
        </div>


    </span>
    <span *ngSwitchDefault>
        <a [download]="name" [href]="dataUrl"><md-icon class="md-24">file_download</md-icon> Download {{name}}</a>
    </span>
</span>
</md-card-content>
</md-card>
