.app-search-line {

}

.app-search-line:hover {
    background: #F0F0F0;
    cursor: pointer;
}

.app-search-line-files {
   display: inline-flex;
}

.app-pre-break {
        white-space: pre-wrap;       /* CSS 3 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
        padding:0px;
        margin:0px
}
