<br>
<div>
      <button md-mini-fab color="accent" disabled>
        <md-icon class="md-24">text_fields</md-icon>
      </button>
    <span class="app-search-line" href="#top" (click)="viewFile()">
    {{content}}
    </span>
    <ul class="app-search-line">
    <button md-mini-fab color="accent" disabled>
        <md-icon class="md-24">folder_open</md-icon>
    </button>
        <li *ngFor="let item of files">
            <b><span href="#" (click)="viewFile(item)">{{item.name}}</span></b>
        </li>
    </ul>
</div>
