<br>
<div>
  <md-card>
    <md-card-title>{{filename}}</md-card-title>
    <md-card-content class="md-body-1 app-search-line" (click)="viewFile()">
     <pre class="app-pre-break">{{content}}</pre> <md-icon class="md-24" (click)="viewFile()">add_circle_outline</md-icon>...
    </md-card-content>
    <h3>Attachments</h3>
    <div *ngFor="let item of files">
            <b class="app-search-line"><span (click)="viewFile(item)"><md-icon class="md-10" (click)="viewFile(item)">attachment</md-icon>&nbsp;{{item.name}}</span></b>
    </div>
  <md-card-footer>
   <a href="#top"><md-icon class="md-24">arrow_upward</md-icon></a>
 </md-card-footer>
  </md-card>
</div>
