<br>
<div>
  <md-card>
  <md-card-header>
      <button md-button md-card-avatar (click)="viewFile()">
        <md-icon class="md-48">zoom_in</md-icon>
        </button>
      <md-card-title><b>Name: {{filename}}</b></md-card-title>
      <md-card-subtitle>Record index: {{index}}, Position {{position}}</md-card-subtitle>
   </md-card-header>
    <md-card-content (click)="viewFile()">
     {{content}}
    </md-card-content>
    <md-card-actions>

    </md-card-actions>
    <md-icon class="md-24" disabled>attachment</md-icon>
    <ul class="app-search-line">
        <li *ngFor="let item of files">
            <b><a href="#" (click)="viewFile(item)">{{item.name}}</a></b>
        </li>
    </ul>
  </md-card>
</div>
