.app-search-line {

}

.app-search-line:hover {
    background: #F0F0F0;
    cursor: pointer;
}

.app-search-line-files {
   display: inline-flex;
}
.app-content md-card {
  margin: 10px;
  font-size: 24px;
}
