<div *ngIf="!open">
    <md-card>
        <md-card-title>
            Database: {{database}}
        </md-card-title>
        <md-card-actions layout="row" layout-align="center">
            <button md-button class="md-button" aria-label="Settings" (click)="dropDb()">
            Drop Database
            </button>
        </md-card-actions>
        <form novalidate>
            <md-input
                #encKey
                type="password"
                placeholder="Encryption key"
                (keyup.enter)="openDb()"
            >
            </md-input>
            <button md-raised-button (click)="openDb()">
                Open
            </button>
        </form>
    </md-card>
</div>
<div *ngIf="open">
    <md-tab-group [(selectedIndex)]="selectedTab">
        <md-tab label="Search">
            <md-card>
                <md-card-title>
                    Database: {{database}}
                </md-card-title>
                <md-card-actions layout="row" layout-align="center">
                    <button md-button class="md-button" aria-label="Settings" (click)="closeDb()">
                    Close Database
                    </button>
                    <button md-button class="md-button" aria-label="Settings" (click)="dropDb()">
                    Drop Database
                    </button>
                    <button md-button class="md-button" aria-label="Settings" (click)="exportDb()">
                    Export Database
                    </button>
                    <md-spinner *ngIf="exportWorking" class="app-spinner"></md-spinner>
                </md-card-actions>
                <md-card-content>
                    <!--<form novalidate (ngSubmit)="search()" >-->
                        <md-input
                            #searchInput
                            type="text"
                            placeholder="Search"
                            maxlength="128"
                            class="app-input"
                            (keyup.enter)="search()"
                        >
                        </md-input>
                        &nbsp;
                        <button md-raised-button (click)="search()">
                            Search
                        </button>
                    <!--</form>-->
                    <br>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    <div *ngFor="let item of results | paginate: { itemsPerPage: 20, currentPage: p }">
                        <app-search-line
                            [position]="item.position"
                            [index]="item.index"
                            [text]="item.text"
                            [query]="item.query"
                            [db]="item.db"
                            (onOpen)="openNewTab($event)"
                        >
                        </app-search-line>
                        <br>
                    </div>
                </md-card-content>
            </md-card>
        </md-tab>
        <md-tab *ngFor="let tab of openTabs" [label]="tab.name">
            <app-view-file
                [index]="tab.index"
                [name]="tab.name"
                [tab]="tab"
                (onOpen)="openNewTab($event)"
                (onClose)="closeTab(tab)"
            >
            </app-view-file>
        </md-tab>
    </md-tab-group>
</div>
