<div *ngIf="!open">
    <md-card>
        <md-card-title>
        <button md-mini-fab color="principal" disabled md-tooltip="Selected database" tooltip-position="above">
              <md-icon class="md-24">lock</md-icon>
        </button>
            {{database}}
        </md-card-title>
        <md-card-actions layout="row" layout-align="center">
             <button md-mini-fab color="warn" (click)="dropDb()" md-tooltip="Delete database" tooltip-position="above">
                <md-icon class="md-24">delete</md-icon>
             </button>
        </md-card-actions>
        <form novalidate>
            <md-input
                #encKey
                type="password"
                placeholder="Password"
                (keyup.enter)="openDb()"
            >
            </md-input>
            <button md-raised-button (click)="openDb()">
                <md-icon class="md-24">lock_open</md-icon> Open
            </button>
        </form>
    </md-card>
</div>
<div *ngIf="open">
    <md-tab-group [(selectedIndex)]="selectedTab">
        <md-tab>
        <template md-tab-label>
            <button md-button disabled><md-icon class="md-24">search</md-icon>
              Search {{database}}
            </button>
         </template>
            <md-card>
                <md-card-title>
                    <button md-mini-fab color="principal" md-tooltip="Selected database" tooltip-position="above" disabled>
                      <md-icon class="md-24">lock_open</md-icon>
                  </button>
                  {{database}}
                </md-card-title>
                <md-card-actions layout="row" layout-align="center">
                    <button md-mini-fab color="accent" (click)="closeDb()" md-tooltip="Close database" tooltip-position="before">
                    <md-icon class="md-24">lock</md-icon>
                    </button>&nbsp;
                    <button md-mini-fab color="warn" (click)="dropDb()" md-tooltip="Delete database" tooltip-position="above">
                    <md-icon class="md-24">delete</md-icon>
                    </button>&nbsp;
                    <button md-mini-fab color="primary" (click)="exportDb()" md-tooltip="Export database" tooltip-position="after">
                    <md-icon class="md-24">file_download</md-icon>
                    </button>
                    <md-spinner *ngIf="exportWorking" class="app-spinner"></md-spinner>
                </md-card-actions>
                <md-card-content>
                    <!--<form novalidate (ngSubmit)="search()" >-->
                        <md-input
                            #searchInput
                            type="text"
                            placeholder="Search"
                            maxlength="128"
                            class="app-input"
                            (keyup.enter)="search()"
                        >
                        </md-input>
                        &nbsp;
                        <button md-raised-button (click)="search()"><md-icon class="md-24">search</md-icon>
                            Search
                        </button>
                        <md-spinner *ngIf="searchWorking" class="app-spinner"></md-spinner>
                    <!--</form>-->
                    <br>
                    <div *ngIf="results.length > 0">
                        Found: {{results.length}} documents
                    </div>
                    <br>
                    <pagination-controls
                        maxSize="9"
                        autoHide="true"
                        (pageChange)="p = $event"
                    >
                    </pagination-controls>
                    <div *ngFor="let item of results | paginate: { itemsPerPage: 20, currentPage: p }">
                        <app-search-line
                            [position]="item.position"
                            [index]="item.index"
                            [text]="item.text"
                            [query]="item.query"
                            [db]="item.db"
                            (onOpen)="openNewTab($event)"
                        >
                        </app-search-line>
                        <br>
                    </div>
                </md-card-content>
            </md-card>
        </md-tab>
        <md-tab *ngFor="let tab of openTabs">
        <template md-tab-label>
            <button md-button disabled><md-icon class="md-24">visibility</md-icon>
            {{tab.name}}
            </button><md-icon class="md-24" (click)="closeTab(tab)">cancel</md-icon>
         </template>
            <app-view-file
                [index]="tab.index"
                [name]="tab.name"
                [tab]="tab"
                (onOpen)="openNewTab($event)"
                (onClose)="closeTab(tab)"
            >
            </app-view-file>
        </md-tab>
    </md-tab-group>
</div>
