<div>
    <md-card *ngIf="!processing" class="app-input-selection" >
    <md-card-title>Load a database from CrypTARsi file</md-card-title>
    <md-card-subtitle>Give a name, select the file and hit the button</md-card-subtitle>
    <md-card-content>
        <form novalidate (ngSubmit)="submit()" >
            <md-input
                #dbName
                placeholder="Database Name"
                (change)="checkDbName"
                maxlength="50"
                md-tooltip="Enter new database name"
                tooltip-position="above"
                (change)="validateDbName()"
            >
                <md-hint #dbNameHint align="end">
                    {{dbName.characterCount}}/50
                </md-hint>
            </md-input>
            <br><br>
            <label for=fileName>
            <input
                #fileName
                id="fileName"
                type="file"
                (change)="onFileChange($event)"
            >
            </label>
            <br><br>
            <button type="submit" md-mini-fab color="primary" (click)="menuSelected='importDb'" md-tooltip="Import database" tooltip-position="after">
    <md-icon class="md-24">file_upload</md-icon>
</button>
        </form>
        </md-card-content>
    </md-card>
    <md-card *ngIf="processing">
    <md-card-title>Wait...</md-card-title>
    <md-card-subtitle>The file is loaded</md-card-subtitle>
    <md-card-content>
        <label>
            <div>
                <div>Total Progress: {{progress}}%</div>
            </div>
            <br>
            <md-progress-bar
                class="app-progress"
                color="accent"
                mode="determinate"
                [value]="progress"
                aria-label="Progress bar"></md-progress-bar>
        </label>
    </md-card-content>
    </md-card>
</div>
