<md-sidenav-layout class="app-sidenav-layout">
  <md-sidenav #sidenav mode="side" class="app-sidenav">
    <button md-button (click)="menuSelected='importDir'">Import new directory as database</button><br>
    <button md-button (click)="menuSelected='importDb'">Import new database</button><br><br>
    <hr>
    <button md-button (click)="menuSelected=null">Select databases:</button><br>
    <md-list dense>
      <md-list-item *ngFor="let item of collection">
        <button
          [attr.md-button]="item.select?null:true" 
          [attr.md-raised-button]="item.select?true:null"
          (click)="selectDatabase(item.name)"
        >{{item.name}}</button>
      </md-list-item>
      <div *ngIf="!collection">
        <button md-button>No databases imported</button>
      </div>
    </md-list>
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    Cryptarsi APP
    <span class="app-toolbar-filler"></span>
  </md-toolbar>

  <div class="app-content">
    <span [ngSwitch]="menuSelected">
      <span *ngSwitchCase="'importDir'">
        <import-dir></import-dir>
      </span>
      <span *ngSwitchDefault>
          <md-card *ngIf="!databaseSelected">
            Please select database
          </md-card>
          <div *ngIf="databaseSelected">
            <div>Database selected: {{databaseSelected}}</div>
          </div>
      </span>
    </span>
  </div>

</md-sidenav-layout>

<!--
<span class="app-action">
  <button md-fab><md-icon>check circle</md-icon></button>
</span>
-->