<md-sidenav-layout class="app-sidenav-layout">
  <md-sidenav #sidenav mode="side" class="app-sidenav">
    <button md-button>Import new directory as database</button><br>
    <button md-button>Import new database</button><br><br>
    <hr>
    <button md-button>Select databases:</button><br>
    <md-list dense>
      <md-list-item *ngFor="let item of collection">{{item}}</md-list-item>
      <div *ngIf="!collection">
        <button md-button>No databases imported</button>
      </div>
    </md-list>
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    Cryptarsi APP
    <span class="app-toolbar-filler"></span>
  </md-toolbar>

  <div class="app-content">
    <md-card>
      Please select database
    </md-card>
  </div>
</md-sidenav-layout>

<span class="app-action">
  <button md-fab><md-icon>check circle</md-icon></button>
</span>
