<md-card>
    <md-card-title>
        Database: {{database}}
    </md-card-title>
    <div *ngIf="!open">
        <md-card-actions layout="row" layout-align="center">
            <button md-button class="md-button" aria-label="Settings" (click)="dropDb()">
            Drop Database
            </button>
        </md-card-actions>
        <form novalidate>
            <md-input
                #encKey
                type="password"
                placeholder="Encryption key"
            >
            </md-input>
            <button md-raised-button (click)="openDb()">
                Open
            </button>
        </form>
    </div>
    <div *ngIf="open">
        <md-card-actions layout="row" layout-align="center">
            <button md-button class="md-button" aria-label="Settings" (click)="closeDb()">
            Close Database
            </button>
            <button md-button class="md-button" aria-label="Settings" (click)="dropDb()">
            Drop Database
            </button>
        </md-card-actions>
        <md-card-content>
            <!--<form novalidate (ngSubmit)="search()" >-->
                <md-input
                    #searchInput
                    type="text"
                    placeholder="Search"
                    maxlength="128"
                    class="app-input"
                >
                </md-input>
                &nbsp;
                <button md-raised-button (click)="search()">
                    Search
                </button>
            <!--</form>-->
            <br>
        </md-card-content>
    </div>
</md-card>