<md-sidenav-layout class="app-sidenav-layout">
  <md-sidenav #sidenav mode="side" class="app-sidenav">
    <button md-button (click)="menuSelected='importDir'">Import new directory as database</button><br>
    <button md-button (click)="menuSelected='importDb'">Import database</button><br><br>
    <hr>
    <div *ngIf="collection && collection.length>0">
      <button md-button (click)="menuSelected=null">Select databases:</button><br>
      <md-list dense>
        <md-list-item *ngFor="let item of collection">
          <button
            [attr.md-button]="(item.name != databaseSelected)?true:null" 
            [attr.md-raised-button]="(item.name == databaseSelected)?true:null"
            (click)="selectDatabase(item.name)"
          >{{item.name}}</button>
        </md-list-item>
        <div *ngIf="!collection">
          <button md-button>No databases imported</button>
        </div>
      </md-list>
    </div>
    <div *ngIf="!(collection && collection.length>0)">
      <!-- Eventually request for import -->
    </div>
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    Cryptarsi APP
    <span class="app-toolbar-filler"></span>
  </md-toolbar>

  <div class="app-content">
    <span [ngSwitch]="menuSelected">
      <span *ngSwitchCase="'importDb'">
        <app-import-db (onImport)="importedDir()"></app-import-db>
      </span>
      <span *ngSwitchCase="'importDir'">
        <app-import-dir (onImport)="importedDir()"></app-import-dir>
      </span>
      <span *ngSwitchDefault>
          <md-card *ngIf="!databaseSelected">
            Please select database
          </md-card>
          <div *ngIf="databaseSelected">
            <!--<div>Database selected: {{databaseSelected.name}}</div>-->
            <div *ngFor="let item of collection">
              <app-search-page
                [hidden]="item.name!=databaseSelected"
                [database]="item.name"
                (onDrop)="clearSelection()"
              >
              </app-search-page>
            </div>
          </div>
      </span>
    </span>
  </div>

</md-sidenav-layout>

<!--
<span class="app-action">
  <button md-fab><md-icon>check circle</md-icon></button>
</span>
-->