<md-card class="app-input-selection" *ngIf="encryptionMenuVisible" >
    <form novalidate (ngSubmit)="submit()" >
        <md-input
            #dbName
            placeholder="Database Name"
            (change)="checkDbName" 
            maxlength="50"
            md-tooltip="Enter new database name"
            tooltip-position="below"
            (change)="validateDbName()"
        >
            <md-hint #dbNameHint align="end">
                {{dbName.characterCount}}/50
            </md-hint>
        </md-input>
        <md-input 
            type="password" 
            #encKey1 
            placeholder="Encryption Key 1" 
            maxlength="128" 
            dividerColor="accent"
            (change)="validateKeys()"
        >
        </md-input>
        <md-input 
            type="password" 
            #encKey2 
            placeholder="Encryption Key 2" 
            maxlength="128" 
            dividerColor="accent"
            (change)="validateKeys()"
        >
        </md-input>
        <label for=dirName>
        <input 
            #dirName 
            id="dirName" 
            type="file" 
            webkitdirectory mozdirectory msdirectory odirectory directory 
            multiple
        >
        </label>
        <button type=submit md-raised-button>
            Encrypt and Import
        </button>
    </form>
</md-card>
