// component css goes here
.app-link {
  color: black;
}
.app-search-view-files {
  /* display: inline-flex;*/
}

.app-view-file-line {
  margin-left:15px;
}

.app-view-file-line:hover {
  margin-left:15px;
  cursor: pointer;
}
