<div align="center">
    <span>
    Page: <i class="fa fa-backward app-link app-arrow-button" aria-hidden="true" (click)="prevPage()" style="font-size:20px"></i>
     <input class="app-input app-text-right" type="number" placeholder="Page" [(ngModel)]="page" min="1" max="1000" maxlength="4">
    <i class="fa fa-forward app-link app-arrow-button" aria-hidden="true" (click)="nextPage()" style="font-size:20px"></i>
    </span>
    &nbsp;
    <span>
    <i class="fa fa-minus-square-o app-link app-arrow-button" aria-hidden="true" (click)="zoomOut()" style="font-size:20px"></i>
    Zoom {{zoom*100 | number: '2.0'}}%
    <i class="fa fa-plus-square-o app-link app-arrow-button" aria-hidden="true" (click)="zoomIn()" style="font-size:20px"></i>
    </span>
</div>

<div *ngIf="data" align="center">
    <pdf-viewer [src]="data" [page]="page" [original-size]="true" [zoom]="zoom" [render-text]="false" style="display: block; z-index: 1"></pdf-viewer>
</div>
<div align="center">
<span>
    Page: <i class="fa fa-backward app-link app-arrow-button" aria-hidden="true" (click)="prevPage()" style="font-size:20px"></i>
     <input class="app-input" type="number" placeholder="Page" [(ngModel)]="page" min="1" max="1000" maxlength="4">
    <i class="fa fa-forward app-link app-arrow-button" aria-hidden="true" (click)="nextPage()" style="font-size:20px"></i>
    </span>
    &nbsp;
    <span>
    <i class="fa fa-minus-square-o app-link app-arrow-button" aria-hidden="true" (click)="zoomOut()" style="font-size:20px"></i>
    Zoom {{zoom*100 | number: '2.0'}}%
    <i class="fa fa-plus-square-o app-link app-arrow-button" aria-hidden="true" (click)="zoomIn()" style="font-size:20px"></i>
    </span>
</div>
<BR>
<div align="center">
    <a [href]="data | safe" target="_blank" class="app-link"><md-icon class="md-36" md-tooltip="Open in new window" tooltip-position="before">visibility</md-icon></a>

    <a [download]="name" [href]="data | safe" class="app-link"><md-icon class="md-36" md-tooltip="Download" color="accent" tooltip-position="after">file_download</md-icon></a>
</div>
