<div align="center">
    <md-icon class="md-36" md-tooltip="Previous page" tooltip-position="above" (click)="prevPage()">fast_rewind</md-icon>
    <input type="number" placeholder="Page" [(ngModel)]="page" min="1" max="1000" maxlength="4">
    <md-icon class="md-36" md-tooltip="Next page" tooltip-position="after" (click)="nextPage()">fast_forward</md-icon>
</div>

<div *ngIf="data" align="center">
    <pdf-viewer [src]="data" [page]="page" [original-size]="true" [zoom]="1.5" [render-text]="false" style="display: block; z-index: 1"></pdf-viewer>
</div>
<div align="center">
    <md-icon class="md-36" md-tooltip="Previous page" tooltip-position="above" (click)="prevPage()">fast_rewind</md-icon>
    <input type="number" placeholder="Page" [(ngModel)]="page" min="1" max="1000" maxlength="4">
    <md-icon class="md-36" md-tooltip="Next page" tooltip-position="after" (click)="nextPage()">fast_forward</md-icon>
</div>
<BR>
<div align="center">
    <a [href]="data | safe" target="_blank" class="app-link">
        <md-icon class="md-36" md-tooltip="Open in new window" tooltip-position="below">visibility</md-icon>
    </a>
    <a [download]="name" [href]="data | safe" class="app-link">
        <md-icon color="accent" class="md-36" md-tooltip="Download" tooltip-position="after">file_download</md-icon>
    </a>
</div>