<div>
    <md-card *ngIf="!processing" class="app-input-selection" >
      <md-card-title>Create a new Cryptarsi data set</md-card-title>
      <md-card-subtitle>Give a name, select a directory, type a strong password (twice) and hit the red button</md-card-subtitle>
      <md-card-content>
        <form novalidate (ngSubmit)="submit()" >
            <md-input
                #dbName
                placeholder="Data set name"
                (change)="checkDbName"
                maxlength="50"
                (change)="validateDbName()"
                class="app-input"
            >
                <md-hint #dbNameHint align="end">
                    {{dbName.characterCount}}/50
                </md-hint>
            </md-input><br>
            <md-textarea
                #description
                rows="10"
                cols="50"
                placeholder="Data set description"
                class="app-input">Enter new data set description</md-textarea>
                <br>
              <br>
            <br>
            <md-input
                type="password"
                #encKey1
                placeholder="Password"
                maxlength="128"
                dividerColor="accent"
                (change)="validateKeys()"
                class="app-input"
            >
            </md-input><br>
            <md-input
                type="password"
                #encKey2
                placeholder="Repeat Password"
                maxlength="128"
                dividerColor="accent"
                (change)="validateKeys()"
                class="app-input"
            >
            </md-input><br><br>
            <md-radio-group>
                <md-radio-button #dirSelection value="dir">Directory</md-radio-button>
                <md-radio-button value="file" checked="true">Files</md-radio-button>
            </md-radio-group>
            <br>
            <br>
            <div *ngIf="dirSelection.checked">
                <label for=dirName>
                <input
                    #dirName
                    id="dirName"
                    type="file"
                    webkitdirectory mozdirectory msdirectory odirectory directory
                    multiple
                    (change)="onDirChange($event)"
                    class="app-input"
                    placeholder="Select directory"
                >
                </label>
            </div>
            <div *ngIf="!dirSelection.checked">
                <label for=dirName>
                <input
                    #dirName
                    id="dirName"
                    type="file"
                    multiple
                    (change)="onDirChange($event)"
                    class="app-input"
                    placeholder="Select file or files"
                >
                </label>
            </div>
            <br><br>
            <button type="submit" md-mini-fab color="warn" (click)="menuSelected='importDir'" md-tooltip="Create new data set" tooltip-position="after">
    <md-icon class="md-24">add</md-icon>
</button>
        </form>
        </md-card-content>
    </md-card>

    <md-card *ngIf="processing">
      <md-card-title>Wait...</md-card-title>
      <md-card-subtitle>Your data is imported, encrypted and indexed for search.</md-card-subtitle>
      <md-card-content>
        <label>
            <div>
                <div>{{filename}}</div>
                <div>{{nofile}} of {{nofiles}}</div>
                <div>Total Progress: {{progress}}%</div>
            </div>
            <br>
            <md-progress-bar
                class="app-progress"
                color="accent"
                mode="determinate"
                [value]="progress"
                aria-label="Progress bar"></md-progress-bar>
        </label>
      </md-card-content>
    </md-card>
</div>
